
h1, h2, .fancy-header {
    color: black; /* single line comment */
    text-decoration: underline;
}



body {
    background-image: url("./IMG/boss.jpg");
    background: whitesmoke;
    font-family: 'Akaya Telivigala', cursive;
    background-repeat: no-repeat;
    background-size: 2000px 1000px;
}

ul {
    list-style: circle;
}

tbody td {
    text-align: center;
}

th, td {
    padding: 10px;
}


th {
    font-weight: bold;
    text-decoration: underline;
}

a:hover {
    color: crimson;
}
