
h1, h2, .fancy-header {
    color: black; /* single line comment */
    text-decoration: underline;
}



body {
    background: whitesmoke;
    font-family: 'Akaya Telivigala', cursive;
    background-image: url("../IMG/boss.jpg");
    background-size: cover;
}
{
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* made unordered list a flex container */
}

tbody td {
    text-align: center;
}

th, td {
    padding: 10px;
}


th {
    font-weight: bold;
    text-decoration: underline;
}

a:hover {
    color: crimson;
}
